.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__content {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  animation: fadeInModal 0.3s ease-out;
}

.modal__header {
  background-color: #006db6;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin: 0;
  font-size: 1.25rem;
}

.modal__close {
  background: #008deb;
  border: 2px solid #008deb;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 1;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  transition: background-color ease-in 0.2s;
}

.modal__close:hover {
  background-color: #006db6;
  border: 2px solid #008deb;
}

.modal__body {
  max-height: 70vh;
  overflow-y: auto;
}

@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
